* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 0.3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(38, 39, 39);
    margin: 0;
    
}

.main-container {
    padding: 0px 15px;
}


.container {
    margin: auto;
    max-width: 400px;
    margin-top: 70px;
    padding: 20px 25px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.932);
    box-shadow: 0px 8px 18px 4px rgb(0 0 0 / 30%);
    padding-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: rgb(87, 87, 87); 
}

h4 {
    margin-top: 15px;
    margin-bottom: 30px;
    color: rgb(153 153 153);
    font-weight: normal;
    font-size: 18px;
}

input {
    display: block;
    padding: 15px 15px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 21px;
    color: #2e4f50;
    background-color: #9ec7c9;
    box-shadow: inset 0px 0px 6px 1px rgb(95 158 160 / 52%);      
}

.romanOrNum {
    text-transform: uppercase;
    font-family: serif;
}

input:focus {
    outline: none;
}

input:hover {
    background-color: #b9d5d7;
}

::placeholder {
    color: #619193;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
}

.error, .error:hover {
    background-color: #ffcaca;
    box-shadow: inset 0px 0px 6px 1px rgb(175 164 164);
    color: #af5d5d;
}

.btn {
    font-size: 20px;
    padding: 10px;
    width: 120px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(63 136 139);
    color: white;
    box-shadow: 0px 4px 9px 0px rgb(95 158 160 / 74%);
    cursor: pointer;
}

.clearBtn {
    float: right;
}

.btn:hover {
    background-color: rgb(113 166 169);
}

.btn:active {
    transform: scale(0.9);
}

@media screen and (max-width: 400px) {
    .btn {
        float: none;
        width: 100%;
    }
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.footer h4 {    
    color: white;
}
